.body {
  background-color: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
    position: absolute;
    width: 400px;
    background: #222;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0,0,0,9);
}

     .reset .content {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

        .reset .content h2 {
            font-size: 2em;
            color: #1c438e;
            text-transform: uppercase;
        }

         .reset .content .form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

             .reset .content .form .inputBox {
                position: relative;
                width: 100%;
            }

                 .reset .content .form .inputBox input {
                    position: relative;
                    width: 100%;
                    background: #333;
                    border: none;
                    outline: none;
                    padding: 25px 10px 7.5px;
                    border-radius: 4px;
                    color: #fff;
                    font-weight: 500;
                    font-size: 1em;
                }

                 .reset .content .form .inputBox i {
                    position: absolute;
                    left: 0;
                    padding: 15px 10px;
                    font-style: normal;
                    color: #aaa;
                    transition: 0.5s;
                    pointer-events: none;
                }

.reset .content .form .inputBox input:focus ~ i,
.reset .content .form .inputBox input:valid ~ i {
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: #fff;
}

            .reset .content .form .links {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: end;
                color: #1c438e;
            }

    .reset .content .form .links a {
        color: #fff;
        text-decoration: none;
    }

        .reset .content .form .links a:nth-child(2) {
            color: #0f0;
            font-weight: 600;
        }

            .reset .content .form .inputBox input[type="submit"], .redirect {
                padding: 10px;
                background: #1c438e;
                color: #000;
                font-weight: 600;
                font-size: 1.35em;
                letter-spacing: 0.05em;
                cursor: pointer;
                transition: all;
                transition-duration: 300ms;
                text-decoration: none;
                color: white;
            }

input[type="submit"]:active, .redirect {
    opacity: 0.6;
}

input[type="submit"]:hover, .redirect {
    background-color: #0f2861 !important;
}

@media (max-width: 900px) {
     span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}

@media (max-width: 600px) {
     span {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}
